@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Prompt', sans-serif;
}

header {
	font-size: 4vh;
	padding: 1em 0;
	text-align: center;
	margin-top: 15px;
}

h2, main {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#title{
	display: flex;
	justify-content: center;
	align-items: center;
}

#title img {
	max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
}

a {
	padding-left: 20px;
}

.input, .btn{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 35px;
	gap: 8px;
}

input {
	border-radius: 9px;
	width: 3.5em;
	height: 3.5em;
	font-weight: 600;
	font-size: 1.8vh;
	text-align: center;

}

#validation_text {
font-size: 2.3vh;
}

button {
	background-color: darkblue;
	font-size: 1.8vh;
	border-radius: 5px;
	color: white;
	width: 180px;
	height: 50px;
	border: none;
	transition-duration: 0.4s;
	margin-top: 20px;
}

button:hover {
    background-color: #1031c4;
    color: white;
}

footer {
	padding: 0.5em 0;
	text-align: center;
}

@media (max-width: 850px){
	header {
		font-size: 2.8vh;
	}

	main {
		font-size: 1.3vh;
		margin-top: 5px;
	}

	a {
		padding-left: 10px;
	}

	.input {
		display: flex;
		justify-content: center;
		margin-top: 10px;
		margin-bottom: 15px;
		gap: 5px;
	}

	input {
		border-radius: 7px;
		width: 3em;
		height: 3em;
	}

	button {
		width: 130px;
		height: 35px;
	}
}
